# Defining attributes per path.
#
# For more see: https://git-scm.com/docs/gitattributes

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Set the language for VS Config files to JSONC
# to ensure GitHub doesn't show the comments as errors.
.vscode/*.json   linguist-language=JSONC

# Jinja-style templates highlight as their base language on GitHub
*.md.tmpl        linguist-language=Markdown
*.md.j2          linguist-language=Markdown
*.yaml.tmpl      linguist-language=YAML
*.yaml.j2        linguist-language=YAML
*.sh.tmpl        linguist-language=Shell
*.sh.j2          linguist-language=Shell
